<nav class="col-md-2 d-none d-md-block bg-dark  sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/pages/dashboard">
                    <i class="fa fa-home"></i>
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pages/actuator">
                    <i class="fas fa-tachometer-alt"></i>
                    Actuator
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pages/users">
                    <i class="fa fa-users"></i>
                    Usuários
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>