$theme-colors: (
    "primary":    #337ab7,
    "secondary":  #A09494,
    "success":    #007E33,
    "info":       #0099CC,
    "warning":    #FF8800,
    "danger":     #CC0000,
    "ligth":      #EDEDED,
    "dark":       #2A3F54 
); 

$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;